{% extends "layout.html" %}

{% block content %}


<form action="action.php" method="post">
 <p>Food Item: <input type="text" name="Apples" /></p>
 <p>Quantity: <input type="text" name="Servings" /></p>
 <p><input type="submit" /></p>
 </form>


<script>
var a = 2;
console.log(a);
</script>
<br/><br/>
{% endblock %}
